<div @fadeInUp fxLayout="row" fxLayoutGap="80px" fxLayoutAlign="start center" class="container">
    <div class="left--box" fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="60" fxFlex.xl="60">
        <div class="mb-8">
            <img class="m-0-auto" src="assets/img/logo.svg" alt="">
        </div>
        <h1 class="text-center">Setup Password!</h1>
        <div class="setpassword--box">
            <h2 class="font-18 fw-500 mb-2">Please enter password</h2>
            <div [formGroup]="setpasswordform">
                <div fxLayout="row">
                    <mat-form-field appearance="outline" class="full-width">
                        <input type="password" formControlName="newpassword" matInput placeholder="Enter new password"
                            required>
                        <mat-error *ngIf="setpasswordform.invalid">
                            Password should be minimum 6 characters
                        </mat-error>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <div fxFlex="100">
                        <mat-form-field appearance="outline" class="full-width">
                            <input type="password" formControlName="confirmPassword" matInput
                                placeholder="Re-enter new password" required>
                            <mat-error *ngIf="setpasswordform.invalid">
                                Password incorrect
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div fxLayout="row" fxLayoutAlign="center center">
                    <button type="button" class="primary--btn" mat-raised-button>
                        Sign Up
                    </button>
                </div>
            </div>

        </div>
    </div>
    <div fxFlex.xs="100" fxFlex.sm="100" fxFlex.md="100" fxFlex.lg="40" fxFlex.xl="40">
        <img class="m-0-auto" src="assets/img/setpassword-right.svg" alt="">
    </div>
</div>