.signin--layout--wrapper{
    background-color: #E2EED7;
    height: 100%;
    .shadow--box{
        background: #F0F8FF;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
        height: 50%;
        
    } 
}
