<div @fadeInUp class="forgotpassword--box" fxLayout="column" fxFlex.xs="100" fxFlex.sm="600px" fxFlex.md="600px" fxFlex.lg="600px" fxFlex.xl="600px">
    <div fxLayout="column">
        <div class="mb-4">
            <img class="cursor-pointer" [routerLink]="['/']" src="assets/img/logo.svg" alt="">
        </div>
        <p class="font-18 mb-5">Please enter your email address to reset your password!</p>
    </div> 
    <div fxLayout="column" class="form--box">
        <div [formGroup]="forgotpasswordform">
            <div fxLayout="row">
                <mat-form-field appearance="outline" class="full-width">
                    <input formControlName="email" matInput placeholder="Email address"
                        required>
                    <mat-error *ngIf="forgotpasswordform.invalid">
                        Email address cannot be blank.
                    </mat-error>
                </mat-form-field>
            </div> 
            <div fxLayout="row" fxLayoutAlign="center center">
                <button [routerLink]="['/reset-password']" type="button" class="primary--btn mt-5" mat-raised-button>
                    Send reset link
                </button>
            </div>
        </div>
    </div> 
</div> 