.forgotpassword--box{
    margin-top: -34%;
    p{
        color: #19334A;
    }
    .form--box{
        background: #FFFFFF;
        border: 1px solid #3D566C;
        box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.15);
        border-radius: 24px;
        padding: 40px;
        .forgot--pass{
            position: absolute;
            right: 0;
            bottom: -25px;
        }
    }
}