<div @fadeInUp class="resetpasword--box" fxLayout="column" fxFlex.xs="100" fxFlex.sm="600px" fxFlex.md="600px" fxFlex.lg="600px" fxFlex.xl="600px">
    <div fxLayout="column">
        <div class="mb-4">
            <img class="cursor-pointer" [routerLink]="['/']"   src="assets/img/logo.svg" alt="">
        </div>
        <p class="font-18 mb-5">Reset your password!</p>
    </div> 
    <div fxLayout="column" class="form--box">
        <div [formGroup]="resetpasswordform">
            <div fxLayout="row">
                <mat-form-field appearance="outline" class="full-width">
                    <input type="password" formControlName="newpassword" matInput placeholder="Enter new password"
                        required>
                    <mat-error *ngIf="resetpasswordform.invalid">
                        Password should be minimum 6 characters
                    </mat-error>
                </mat-form-field>
            </div>
            <div fxLayout="row">
                <div fxFlex="100">
                    <mat-form-field appearance="outline" class="full-width">
                        <input type="password" formControlName="confirmPassword" matInput
                            placeholder="Re-enter new password" required>
                        <mat-error *ngIf="resetpasswordform.invalid">
                            Password incorrect
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center">
                <button type="button" class="primary--btn" mat-raised-button>
                    Reset password
                </button>
            </div>
        </div>
    </div> 
</div> 